/* Global styles for layout */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* Content should take up the remaining space */
  .content {
    flex: 1;
  }
  
  /* Footer should stay at the bottom */
  .footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
/* Styles for table container */
.table-container {
    height: 100%; /* Adjust height as needed */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: auto; /* Enables horizontal scrolling if needed */
  }
  
  .table-container .ant-table {
    height: 100%;
  }
    